Jinja2==3.0.1
lxml==4.6.3
pygtrie==2.4.2
zhconv==1.4.1
fuzzywuzzy==0.18.0
peewee==3.14.4
Quart==0.14.1
aiocqhttp==1.4.0
matplotlib==3.4.2
numpy==1.20.3
pytz==2021.1
nonebot==1.8.3
requests==2.25.1
aiohttp==3.7.4
aiofiles==0.7.0
beautifulsoup4==4.9.3
dataclasses==0.8
filetype==1.0.7
Flask==2.0.1
jieba==0.42.1
msgpack_python==0.5.6
nest_asyncio==1.5.1
Pillow==8.2.0
pycryptodome==3.10.1
python_dateutil==2.8.1
PyYAML==5.4.1
seaborn==0.11.1
selenium==3.141.0
sogou_tr==0.1.1
TwitterAPI==2.7.3
ujson==4.0.2
